.grid {
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    height: 360px;
    width: 426px;
}

.col {
    height: 360px;
    width: 60px;
    border-right: 1px dotted;
}

.col.last {
    border-right: 0px dotted;
}

.col div {
    height: 60px;
    width: 60px;
    border-radius: 30px;
}